.container{
	width: 100%;
}

h3{
	font-size: 20px;
	margin-top: 40px;
}

nav{
	background-color: #333333;
	color:#fff;
	    font-size: 19px;
    font-weight: bold;
	text-align: center;
	padding: 10px;
}

.main{

}

.sidebar{
	width: 100%;
}

img{
width: 200px auto; 
}